body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
}
/*----------------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/*----------------------------------------------------------------------*/
._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
/*-------- HEADER --------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
}

.header__menu {
  margin-left: 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
}

.menu__list {
  flex-wrap: wrap;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  text-decoration: none;
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/*-------- PAGE --------------------------------------------------------------*/
.page{
  
}
/*-------- FIRST CONTENT BOX --------------------------------------------------------------*/
.first-content-box {
}
.first-content-box-backgrounds {
}
.first-content-block-top {
}
.first-content-block-top__title {
}
.first-content-block-top__text {
}
.first-content-block__buttons {
}
.first-content-block__button_orange {
}
.first-content-block__button_white {
}
.three-content-boxes {
}
.three-content-boxes__first {
}
.three-content-boxes__second {
}
.three-content-boxes__third {
}