.client {
  position: relative;
  width: 100%;
  min-height: 339px;
}
.client__icon-container {
  min-height: 175px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.client__icon-item {
  transition: all .2s ease;
}
.client__subscribe-container {
  min-height: 175px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
}
.client__subscribe-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 50px;
  background: #17213c;
}
.client__text-block {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: white;
}
.client__subscribe-block {
  display: flex;
  width: 450px;
  height: 58px;
  box-sizing: border-box;
  padding: 1px;
  background: white;
  border-radius: 5px 5px 5px 5px;
  border: white;
}
.client__input-field {
  border: none;
  flex-grow: 2;
}
.client__input-button {
  box-sizing: border-box;
  width: 117px;
  color: white;
  background: #ff7b47;
  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
  transition: all .15s ease;
}
.client__background-block {
  position: absolute;
  bottom: 0;
  z-index: -10;
  width: 100%;
  height: 77px;
  background: #252b42;
}
/* ------- */
.client__icon-item:hover {
  transform: scale(1.2);
}
.client__input-button:hover {
  background: white;
  color: #ff7b47;
  border:  2px solid #ff7b47;
}
/* ------- */
@media (max-width: 1023px) {
  .client__icon-container {
    display: grid;
    grid-template-columns: 152px 152px 152px;
    grid-template-rows: 75px 75px;
    gap: 30px;
    justify-items: center;
  }
  .client__subscribe-background {
    flex-direction: column;
  }
  .client__subscribe-block {
    flex-direction: column;
    max-width: 100%;
    height: 115px;
  }
  .client__text-block {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .client__input-button {
    width: 100%;
    height: 58px;
    border-radius: 0px 0 5px 5px;
  }
}
@media (max-width: 765px) {
  .client__icon-container {
    display: grid;
    grid-template-columns: 152px 152px;
    grid-template-rows: 75px 75px 75px;
    gap: 10px;
    justify-items: center;
  }
}