.contacts {
  width: 100%;
}
.contacts__container {
  box-sizing: border-box;
  min-height: 808px;
  padding: 80px 0;
}
.contacts__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}
.contacts__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
}
.contacts__text {
  max-width: 470px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #737373;
}
.contacts__card-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 393px;
}
.contacts__card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 328px;
  height: 333px;
  padding: 50px 40px;
  transition: all .25s ease;
}
.contacts__card-icon {
  height: 72px;
  width: 72px;
}
.contacts__card-email {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}
.contacts__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}
.contacts__card-button {
  max-width: 160px;
  box-sizing: border-box;
  padding: 10px 20px;
  color: rgba(255, 123, 71, 1);
  border:  1px solid #FF7B47;
  border-radius: 5px;
}
/* ------- */
.contacts__card:hover {
  height: 393px;
  background: #252B42;
}
.contacts__card:hover .contacts__card-button {
  color: white;
  background: #252B42;
  border:  1px solid white;
}
.contacts__card:hover .contacts__card-title {
  color: white;
}
.contacts__card:hover .contacts__card-email {
  color: white;
}
/* ------- */
@media (max-width: 1023px) {
  .contacts__card-block {
    flex-direction: column;
    align-items: center;
  }
  .contacts__card {
    margin-bottom: 10px;
  }
}