.header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 0 0 5px;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.header__menu {
  margin-left: 133px;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
}
.header__menu-link {
  position: relative;
  text-decoration: none;
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  top: 18px;
  width: 100%;
  height: 1px;
  background-color: #737373;
  transform: scaleX(0);
  transition: all 0.2s ease;
}

.header__menu-link:hover {
  opacity: 0.8;
}
.header__menu-link:hover:before {
  transform: scaleX(1);
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
  .header__menu-link {
    color: #252b42;
  }
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin-left: 20px;
  }
  .header__menu-link {
    font-size: 18px;
  }
}
