.practice-advice {
  width: 100%;
}
.practice-advice__container {
  max-width: 1046px;
  min-height: 699px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
}
.practice-advice__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 197px;
}
.practice-advice__title {
  min-height: 57px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 135%;
  letter-spacing: 0.2px;
  color: rgba(37, 43, 66, 1);
}
.practice-advice__text {
  min-height: 40px;
  max-width: 470px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}
.practice-advice__card-block {
  display: flex;
  justify-content: space-between;
  min-height: 341px;
}
.practice-advice__card {
  width: 230px;
  height: 341px;
  transition: all .2s ease;
}
.practice-advice__card-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 203px;
}
.practice-advice__support-container {
  display: flex;
  flex-direction: column;
  width: 172px;
  height: 143px;
}
.practice-advice__card-title {
  margin-bottom: 15px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}
.practice-advice__card-text {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}
.practice-advice__card-img {
  width: 100%;
  height: 138px;
}
/* ------- */
.practice-advice__card:hover {
  transform: scale(1.15);
}
/* ------- */
@media (max-width: 1023px) {
  .practice-advice__card-block {
    flex-direction: column;
    align-items: center;
  }
}